@import "../lib/bootstrap-5.0.1/scss/bootstrap";

$Negro: #000000;
$DoradoFuerte: #e1701a;
$DoradoClaro: #f7a440;
$Descripcion: #ffe7e7;
$Claro: #f6dcbf;
$Gris: #aaaaaa;

$FontTextos: 'Architects Daughter';
$FontTitulos: 'Cabin';

.bg-dark{
    background-color: #040404 !important;
}


.container{
    background-color:$Negro;
}

.navbar{
    font-family: $FontTitulos;
    font-size:18px;
}





/**/




#Titulo{


    text-align: center;
    color:$DoradoFuerte;
    font-family: $FontTitulos;
    text-shadow: 3px 3px $DoradoClaro;
    letter-spacing: 5px;
    
    

}



h2{
    color:$DoradoFuerte;

}


@media only screen and (max-width: 880px) {
    #carouselExampleControls {
        margin-top:80px;
        
    }
    }

#icoAuris{
    margin-top:380px;
    margin-bottom:380px
    
}


#SeccionDiscografia{
        margin-bottom:225px;        
        padding-top:30px;
}


#SeccionSkydive{
        margin-bottom:225px;
}

#SeccionMyself{
    margin-bottom:225px;
}


.descripcionDisco{
    color:$Descripcion;
}

#icoMidi{
    margin-top:150px; 
    margin-bottom:90px;
}
@media only screen and (max-width:880px) {
    #icoMidi
    {margin-top:150px; 
    margin-bottom:70px;
    }
}

.txtBiografia{
    color:white;
    font-family:$FontTextos;
    font-weight:bold;
    letter-spacing:1.5px;
}

#tituloBiografia{
    color:$DoradoFuerte;
    font-family:$FontTextos;
    font-weight:bold;
    font-size:25px;
}


/*Boton de ir arriba*/

#button-up{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    // align-item:center;
    color:white;
    border-radius:20px;
    font-size:20px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform:scale(0);
    
}

#button-up:hover{
    transform: scale(2,2);
    border-color:rgba(0,0,0,0.1);
}

@media only screen and (max-width: 880px) {
    #button-up {
    display: none !important;
    }
    }
