@import "../lib/bootstrap-5.0.1/scss/bootstrap";

$Negro: #000000;
$DoradoFuerte: #e1701a;
$DoradoClaro: #f7a440;
$Descripcion: #ffe7e7;
$Claro: #f6dcbf;
$Gris: #aaaaaa;

$FontTextos: 'Architects Daughter';
$FontTitulos: 'Cabin';
$FontNav: 'Shadows Into Light';

.anclaNoPointer{
    cursor: default;
}

aria-label{
    font-size:20px;
}

a{
    text-decoration:none;
    color:black;
}
.bg-dark{
    background-color: #040404 !important;
}

.container{
    background-color:$Negro;
}

.navbar{
    font-family: $FontNav;
    font-size:20px;
    visibility: hidden;
    
}
@media only screen and (max-width:800px){
    .navbar{
        visibility: visible;
    }
}







/**/




#Titulo{

    text-align: center;
    color:$DoradoFuerte;
    font-family: $FontTextos;
    text-shadow: 3px 3px $DoradoClaro;
    letter-spacing: 5px;
    cursor:pointer;

}
#anclaTitulo{
    background-color:$DoradoFuerte;
}




@media only screen and (max-width:575px)
{
    #itemHome{display:none;}
}

@media only screen and (max-width:575px)
{
    #btnNavegador{margin-top:30px; margin-bottom:30px;}

}

/**/


#SeccionCarousel{
    display:none;
}   

@media only screen and (max-width: 880px) {
    #SeccionCarousel {
        margin-top:80px;
        display: inline-block;
    }
    }



.carousel-control-next-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

@media only screen and (max-width: 880px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        display:none !important;
    }
    }

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

// #carouselExampleControls{
//     margin-bottom:300px;
    
// }





/**/




// .PortadaFondo{
//     margin-top:150px;
//     margin-bottom:150px;
    
// }




@media only screen and (max-width:1000px)
{
    #PortadaFondo {
        display: none !important;
    }
}




#PortadaFondoResponsive{
    visibility:hidden;

}




@media only screen and (max-width:1000px)
{
    #PortadaFondoResponsive{
        visibility:visible;
        margin-top:80px;
        margin-bottom:350px;
    }
}




/**/


.TitulosDiscografia{
    color:$DoradoFuerte;
}


/**/
@keyframes mover{
    0%{
        transform: translate(100%)
    }
    
}


#SeccionComfort{
        margin-top:300px;
        margin-bottom:225px;        
        padding-top:30px;
        display:none;
}

@media only screen and (max-width: 880px) {
    #SeccionComfort {
        margin-top:80px;
        display: inline;
    }
}



#SeccionSkydive{
        margin-bottom:225px;
        display:none;
}


@media only screen and (max-width: 880px) {
    #SeccionSkydive {
        margin-top:80px;
        display: inline;
    }
}

#SeccionMyself{
    margin-bottom:225px;
        display:none;
}


@media only screen and (max-width: 880px) {
    #SeccionMyself {
        margin-top:80px;
        display: inline;
    }
}


.descripcionDisco{
    color:$Descripcion;
}


/**/




#icoMidi{
    margin-top:150px; 
    margin-bottom:90px;
}




@media only screen and (max-width:880px) {
    #icoMidi
    {margin-top:175px; 
    margin-bottom:100px;
    }
}




/**/


#SeccionBiografia{
    display:none;
}

@media only screen and (max-width: 880px) {
    #SeccionBiografia {
        margin-top:80px;
        display: inline-block;
    }
}




#tituloBiografia{
    color:$DoradoFuerte;
    font-family:$FontTextos;
    font-weight:bold;
    font-size:25px;


}

#SeccionVideo{
    display:none;
    position:absolute; top:0; left: 0
}
@media only screen and (max-width: 880px) {
    #SeccionVideo {
        display: inline-block;
    }
}

#SeccionContacto{
    font-size:18px;
    color:$DoradoClaro;

}


/*Boton de ir arriba*/

#button-up{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    // align-item:center;
    color:white;
    border-radius:20px;
    font-size:20px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform:scale(0);
    
}

#button-up:hover{
    transform: scale(2,2);
    border-color:rgba(0,0,0,0.1);
}

@media only screen and (max-width: 880px) {
    #button-up {
    display: none !important;
    }
    }

